# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Virtual Environment
venv/
ENV/

# Database
*.db
*.db-shm
*.db-wal
data/*
!data/.gitkeep

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
