<div class="col-md-3 col-lg-2 p-0 bg-body-tertiary sidebar">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
            aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarMenuLabel">A-Proxy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'home.index' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='home.index' else '' }}
                            href="{{ url_for('home.index') }}">
                            <i class="bi bi-house-fill"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'persona.dashboard' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='persona.dashboard' else '' }}
                            href="{{ url_for('persona.dashboard') }}">
                            <i class="bi bi-speedometer2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'persona.list_personas' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='persona.list_personas' else '' }}
                            href="{{ url_for('persona.list_personas') }}">
                            <i class="bi bi-people"></i>
                            Personas
                        </a>
                    </li>
                </ul>

                <h6
                    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                    <span>Web Browsing</span>
                </h6>
                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'journey.browse_as' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='journey.browse_as' else '' }}
                            href="{{ url_for('journey.browse_as') }}">
                            <i class="bi bi-globe"></i>
                            Browse As
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'archives.list_archives' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='archives.list_archives' else '' }}
                            href="{{ url_for('archives.list_archives') }}">
                            <i class="bi bi-archive"></i>
                            Archived Pages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'archives.settings' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='archives.settings' else '' }}
                            href="{{ url_for('archives.settings') }}">
                            <i class="bi bi-cloud"></i>
                            Archive Settings
                        </a>
                    </li>
                </ul>

                <h6
                    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                    <span>Journey Tracking</span>
                </h6>
                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint in ('journey.list_journeys', 'journey.view_journey', 'journey.visualize_journey') else '' }}"
                            {{ 'aria-current="page"' if request.endpoint in
                            ('journey.list_journeys', 'journey.view_journey' , 'journey.visualize_journey' ) else '' }}
                            href="{{ url_for('journey.list_journeys') }}">
                            <i class="bi bi-map"></i>
                            Journeys
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 {{ 'active' if request.endpoint == 'journey.create_journey' else '' }}"
                            {{ 'aria-current="page"' if request.endpoint=='journey.create_journey' else '' }}
                            href="{{ url_for('journey.create_journey') }}">
                            <i class="bi bi-plus-circle"></i>
                            Create Journey
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
